<!-- views/partials/student/nav.ejs -->
<link rel="stylesheet" href="/css/student/nav.css">
<header>
  <div class=header>
    <h1> Derby timing Niekee student</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/student/dashboard">Dashboard</a></li>
      <li><a href="/student/join">Join race</a></li>
    </ul>
  </nav>
</header>
