<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../../partials/student/head") %>
  <link rel="stylesheet" href="/css/student/joinrace.css">
  <title>Join race</title>
</head>

<body>
  <%- include ("../../partials/student/nav") %>

  <main>
    <div class="error"><%= typeof error != 'undefined' && error || null %></div>
    <form method="post">
      <label for="raceId">Game code:</label>
      <input id="raceId" type="text" name="raceId" />
      <br />
      <label for="trackId">Track number:</label>
      <select id="trackId" name="trackId">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <br /><br />
      <input type="submit" />
    </form>
  </main>
  <%- include ("../../partials/student/footer") %>
</body>

</html>
