<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../../partials/student/head") %>
    <link rel="stylesheet" href="/css/student/joinrace.css">
    <title>Join race</title>
</head>

<body>
<%- include ("../../partials/student/nav") %>

<main>
    <div class="error"><%= typeof error != 'undefined' && error || null %></div>
    <form method="post">
        <label for="raceId">Game code:</label>
        <input id="raceId" type="text" name="raceId"/>
        <br/>
        <label for="trackId">Track number:</label>
        <select id="trackId" name="trackId">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <br/><br/>
        <input type="submit"/>
    </form>
</main>
<!--onclick denk ik veranderen naar iets anders om hem te laten activeren op de race die voorbij is-->
<div class="popup" onclick="myFunction()">Lekkah testen
  <span class="popuptext" id="myPopup"> uhm ik weenie hoe ik hier een tabel in maak...</span>
</div>
<script>
// When the user clicks on <div>, open the popup
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>
<%- include ("../../partials/student/footer") %>
</body>
</html>
