<html>
    <header>
        <div style="text-align: center;    
        background: #0B8787;
        color: black;
        font-size: 35px;">
            <h1> Derby timing Niekee login</h1>
        </div>
    </header>
    <br>
    <br>
    <body style="text-align: center;    background-color: #efefef;">
        <form method="post">
            <label style="text-align: 
            center; font-size: 35px;" 
            for="email">Email:</label>
            <br/><br/>
            <input type="text" size="40" id="LoginEmail" name="LoginEmail" required>
            <br/><br/>

            <label style="text-align: center; font-size: 35px;" for="LoginPassword">Password</label>
            <br/><br/>
            <input type="text" size="40" id="LoginPassword" name="LoginPassword" required>
            <br/><br/>

            <input style="font-size: 35px;  
            color: black; 
            background: #0B8787;"   
            type="submit" value="submit">
        </form>
    </body>