<html>

<head>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <header>
    <div class="headertext">
      <h1> Derby timing Niekee login</h1>
    </div>
  </header>
  <br>
  <br>
  <main>
    <div class="form">
      <!-- Login form-->
      <form method="post">
        <!--gebruikersnaam-->
        <label class="email" for="email">Email</label>
        <br /><br />
        <input type="text" size="40" id="loginEmail" name="loginEmail" required>
        <br /><br />
        <!--wachtwoord-->
        <label class="wachtwoord" for="loginPassword">Password</label>
        <br /><br />
        <input type="password" size="40" id="loginPassword" name="loginPassword" required>
        <br /><br />
        <!--login knop-->
        <input class="loginknop" type="submit" value="Log in">
      </form>
      <!--de pop up-->
    </div>
  </main>
  <div class="tabel">
    <table>
      <tr>
        <th>Id</th>
        <th>Student mail</th>
        <th>Time</th>
        <th>Timestamp</th>
      </tr>

      <% for(let i = 0; i < times.length; i++) { %>
      <tr>
        <td><%= times[i].id %></td>
        <td><%= times[i].student_mail %></td>
        <td><%= times[i].time %></td>
        <td><%= times[i].timestamp %></td>
      </tr>
      <% } %>
    </table>
  </div>
</body>

</html>
