<html>
    <head>
        <link rel="stylesheet" href="/Users/job/Documents/GitHub/Pinewood-derby-timer/public/css/website.css">
    </head>

    <header>
        <div class="header">
            <h1> Derby timing Niekee login</h1>
            </ul>
        </div>
    </header>
    <br>
    <br>
    <body style="text-align: center;">
        <form method="post">
            <label for="email">Email:</label>
            <br/><br/>
            <input type="text" size="40" id="LoginEmail" name="LoginEmail" required>
            <br/><br/>

            <label for="LoginPassword">Password</label>
            <br/><br/>
            <input type="text" size="40" id="LoginPassword" name="LoginPassword" required>
            <br/><br/>

            <input type="submit" value="submit">
        </form>
    </body>