<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/students/head') %>
</head>
<body>

    <header>
        <h1>
            Home page
        </h1>
        <%- include ('../partials/students/nav') %>
    </header>

<main>
    <div>
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

<footer>
    <%- include ('../partials/students/footer') %>
</footer>

</body>
</html>
