<!DOCTYPE html>
<html lang="en">
<header
  style="background: #0B8787;
  text-align: center;
  color: black;
  font-size: 35px;">
    <div>
        <h1> Derby timing Niekee </h1>
    </div>
</header>
<body>

<header>
    <h1>
      my times
    </h1>
</header>

<main>
    <table>
      <tr>
        <th>Id</th>
        <th>Student mail</th>
        <th>Time</th>
        <th>Timestamp</th>
      </tr>

      <% for(let i = 0; i < times.length; i++) { %>
      <tr>
        <td><%= times[i].id %></td>
        <td><%= times[i].student_mail %></td>
        <td><%= times[i].time %></td>
        <td><%= times[i].timestamp %></td>
      </tr>
      <% } %>
    </table>
</main>

</body>
</html>
