<!DOCTYPE html>
<html lang="en">
<style>
    form {
        display: block;
        margin-top: 0em;
    }
</style>



<body>



    <h1>Users</h1>
    <form method="post" target="/auth/login">
        <label for="email">Email :</label>
        <br></br>
        <input type="text" id="loginEmail" name="loginEmail">
        <br></br>
        <label for="loginPassword">Paswoord :</label>
        <br></br>
        <input type="text" id="loginPassword" name="loginPassword">

        <br></br>
        <input type="submit" value="Submit">
    </form>
