<!-- views/partials/head.ejs -->

<header>
    <div class="header">
        <h1> Derby timing Niekee login</h1>
        <ul style="text-align: left;">
            <li><a href="Login-admin.html" class="active">Admin login</a></li>
        </ul>
    </div>
</header>
<!-- CSS applicable for all pages -->
<link rel="stylesheet" href="/css/style.css">
