<!-- views/partials/head-admin.ejs -->
<header>
    <div style="text-align: center;    
    background: #0B8787;
    color: black;
    font-size: 35px;">
        <h1> Derby timing Niekee admin</h1>
    </div>
</header>

