<!-- views/partials/nav.ejs -->

<nav>
  <p>
      <ul>
          <li><a href="asign-imes.ejs">Tijden toewijzen</a></li>
          <li><a href="Account.ejs">Acounts</a></li>
          <li><a href="times.ejs">Tijden</a></li>
      </ul>
  </p>
</nav>
