<!-- views/partials/nav.ejs -->

<nav>
  <p>
      <ul>
          <li><a href="/assignTimes">Tijden toewijzen</a></li>
          <li><a href="">Acounts</a></li>
          <li><a href="/times">Tijden</a></li>
      </ul>
  </p>
</nav>
