<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
<script>
function click()
{
alert("<%=test%>");
}

</script>
</head>
<body>
    <a href="OwO"><%=test%></a>
	<br/>
</body>
</html>