<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
<script>
function click()
{
alert("<%=test%>");
}

</script>
</head>
<body>
    <a href="OwO" target="_blank"><img src="https://i.imgur.com/VDRXqTn.jpg"/></a>
	<br/>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/rEq1Z0bjdwc" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>