<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>OwO</title>
</head>
<body>
    <h4>furrrie's are not from the developers of this site they are taking over... send help</h4>
    <br/>
    <a href="mailto:martijnlerutte@gmail.com"><button>send nud... i mean help</button></a>
    <img src="https://miro.medium.com/max/5760/1*2bjwCLaA8TfH40OXcyLNvA.png"/>
</body>
</html>