<!-- views/pages/students/allStudents.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/admin/head') %>
</head>

<body>

    <header>
        <h1>
            dit is een test
        </h1>
        <%- include ('../../partials/admin/nav') %>
    </header>

    <footer>
        <%- include ('../../partials/admin/footer') %>
    </footer>

</body>
</html>
