<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="Admin-styles.css">
    <%- include ('../../partials/head-admind.ejs') %>
</head>
<body>

<header>
    <h1>
        student times
    </h1>
    <%- include ('../../partials/nav') %>
</header>

<!--nog in te vullen tabel met tijden-->
<main>
    <table>
        <tr>
            <th>Baan 1</th>
            <th>Baan 2</th>
            <th>Baan 3</th>
        </tr>
        <!--nog in te vullen dingen-->
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</main>