
<!DOCTYPE html>
<html lang="en">
<style>
    form {
  display: block;
  margin-top: 0em;
}
</style>
<head>
    <%- include ('../../partials/admin/head') %>
</head>

<body>

    <header>
        <h1>
            users
        </h1>
        <%- include ('../../partials/admin/nav') %>
    </header>

    <h1>Users</h1>

    <form action="/action_userId">
      <label for="fname">studentId  :</label>
      <input type="text" id="fname" name="fname"><br><br>
      <input type="submit" value="Submit">
    </form>
    

  
    
</body>
</html>