<!-- views/partials/admin/nav.ejs -->
<link rel="stylesheet" href="/css/admin/nav.css">
<header>
    <nav>
        <ul>
            <li><a href="/admin/assignTimes">Tijden toewijzen</a></li>
            <li><a href="/admin/accounts">Acounts</a></li>
            <li><a href="/admin/times">Tijden</a></li>
        </ul>
    </nav>
</header>
