<!-- views/partials/admin/nav.ejs -->
<link rel="stylesheet" href="/css/admin/nav.css">
<header>
  <div class = header>
    <h1> Derby timing Niekee admin</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/admin/assignTimes">Tijden toewijzen</a></li>
      <li><a href="/admin/accounts">Acounts</a></li>
      <li><a href="/admin/times">Tijden</a></li>
    </ul>
  </nav>
</header>
