<html>
    <head>
        <link rel="stylesheet" href="website.css">
    </head>

    <header>
        <div class="header">
            <h1> Derby timing Niekee login</h1>
            <ul style="text-align: left;">
                <li><a href="Login-admin.html" class="active">Admin login</a></li>
            </ul>
        </div>
    </header>
    <br>
    <br>
    <body style="text-align: center;">
        <form method="post" action="/submit">
        <input type="number" size="40" placeholder="gebruikersnaam" name="Username" required><br/>
        <input type="number" size="40" placeholder="Wachtwoord" name="Wachtwoord" required><br/>
        <input class="button" type="submit" placeholder="login"><br>
        </form>
    </body>
